EXPO_PUBLIC_CHATMGT_API_URL=https://chatmgt.upgo.vn
EXPO_PUBLIC_CHAT_TENANT_ID=tn6913580727957397
EXPO_PUBLIC_TINODE_HOST=chat.upgo.vn
EXPO_PUBLIC_TINODE_API_KEY=AQEAAAABAAD_rAp4DJh05a1HAwFT3A6K
EXPO_PUBLIC_TINODE_SECURE=true
EXPO_PUBLIC_TINODE_TRANSPORT=ws
EXPO_PUBLIC_TINODE_MEDIA_BASE=https://chat.upgo.vn/tinode-media
EXPO_PUBLIC_CALLS_ENABLED=true
EXPO_PUBLIC_PUSH_ENABLED=false
