static/js/lib
static/js/lib1
static/vendor/GonrinUI
alembic/**/__pycache__
alembic_.ini
application/**/__pycache__
/**/*.DS_Store
static/output/**
static/upload/**
.idea/
.history/
.git_pro/
.git_dev/
/static/vendor/GonrinUIBoostrap4/
/.vscode/extensions.json
log_job/**/*
alembic_.ini
static/
env/
venv/
