git+https://github.com/gonrin/gatco.git
git+https://github.com/gonrin/gatco_auth.git
git+https://github.com/gonrin/gatco_jinja2.git
git+https://github.com/gonrin/gatco_sqlalchemy.git
git+https://github.com/gonrin/gatco_apimanager.git
git+https://github.com/gonrin/gatco_acl.git
aiofiles
alembic
click
httptools
import-string
itsdangerous
Mako
manage.py
MarkupSafe==2.0.1
mimeparse
python-dateutil
PyYAML
sanic==19.3.1
# Sanic-Cors==0.10.0.post3
six
ujson
passlib
psycopg2-binary
requests
bcrypt
redis
aiohttp
minio
python-slugify
unidecode
rq
dotenv
pdfplumber
python-docx
openpyxl
xlrd
