
<div>
    <h1 style="text-align: center;" class="brz-css-owbsb" data-uniq-id="mysoh" data-generated-css="brz-css-wzbee"><span class="brz-cp-color2">Privacy Policy</span></h1>
</div>
<div>
    
    <p class="brz-css-jmywr" data-uniq-id="pyjbe" data-generated-css="brz-css-fahmp"><span class="brz-cp-color7"
            style="background-color: transparent;"> </span></p>
    <p class="brz-css-rghhh" data-uniq-id="irphs" data-generated-css="brz-css-rdqsq"><span
            style="color: rgb(103, 101, 109);">Protecting your privacy is really important to UpGO Slideshow. </span><span
            class="brz-cp-color7" style="background-color: transparent;">Thanks for making slideshow service provided by
        </span><span class="brz-cp-color7"
            style="background-color: transparent; color: rgb(103, 101, 109);">UpGO Slideshow</span><span class="brz-cp-color7"
            style="background-color: transparent;">. Please be sure to carefully read and fully understand the following
            policy. When you using the service provided by UpGO Slideshow, you agree to have read and accepted all privacy
            policy; otherwise, please do not use the product.</span></p>
    <p class="brz-css-txeox" data-uniq-id="rjbkb" data-generated-css="brz-css-njmqb"><span class="brz-cp-color7"
            style="background-color: transparent;">We provide this Privacy Policy to inform you of our policies and
            procedures regarding the collection, use and disclosure of information we receive from users of our
            application for mobile devices and tablet computers (the “Apps”). This Privacy Policy applies only to
            information that you provide to us through the App and site.</span></p>
    <p class="brz-css-ikjgk" data-uniq-id="iltqd" data-generated-css="brz-css-qbyxr"><br></p>
    <p class="brz-css-wzrxx" data-uniq-id="gankg" data-generated-css="brz-css-tnixm"><strong class="brz-cp-color7"
            style="background-color: transparent;">How do we collect and use information?</strong></p>
    <p class="brz-css-byqam" data-uniq-id="nwcmc" data-generated-css="brz-css-sulkf"><span class="brz-cp-color7"
            style="background-color: transparent;">Our primary goals in collecting information are to provide and
            improve our Apps, Site and related services (collectively, the “Services”). UpGO Slideshow may require you to
            provide us with certain personally identifiable information. The information that we request will be
            retained on your device and is not collected by me in any way.</span></p>
    <p class="brz-css-aatvc" data-uniq-id="hodmz" data-generated-css="brz-css-mbskk"><br></p>
    <p class="brz-css-yvine" data-uniq-id="fvbes" data-generated-css="brz-css-fvayq"><strong class="brz-cp-color7"
            style="background-color: transparent;">Cookies</strong></p>
    <p class="brz-css-uzsbk" data-uniq-id="jlstc" data-generated-css="brz-css-wuulm"><span class="brz-cp-color7"
            style="background-color: transparent;">Cookies are files with a small amount of data that are commonly used
            as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are
            stored on your device's internal memory. This service does not use these “cookies” explicitly. However, the
            app may use third party code and libraries that use “cookies” to collect information and improve their
            services. You have the option to either accept or refuse these cookies and know when a cookie is being sent
            to your device. If you choose to refuse our cookies, you may not be able to use some portions of this
            service.</span></p>
    <p class="brz-css-ftqqq" data-uniq-id="zvsto" data-generated-css="brz-css-hffam"><br></p>
    <p class="brz-css-yhxre" data-uniq-id="zngvt" data-generated-css="brz-css-jzboo"><strong class="brz-cp-color7"
            style="background-color: transparent;">Account Information</strong></p>
    <p class="brz-css-bvkyg" data-uniq-id="rdaao" data-generated-css="brz-css-kmzkg"><span class="brz-cp-color7"
            style="background-color: transparent;">Except as described below, we do not collect any information that can
            be used to contact or identify you directly, such as your full name, email address, postal address or phone
            number (“Personally Identifiable Information” or “PII”) in connection with your use of the services.</span>
    </p>
    <p class="brz-css-tmlux" data-uniq-id="nzicc" data-generated-css="brz-css-hgpuz"><br></p>
    <p class="brz-css-ibbns" data-uniq-id="ovgdc" data-generated-css="brz-css-yntgx"><strong class="brz-cp-color7"
            style="background-color: transparent;">Information Related to Use of the Services</strong></p>
    <p class="brz-css-fiueo" data-uniq-id="xianb" data-generated-css="brz-css-yahpg"><span class="brz-cp-color7"
            style="background-color: transparent;">Our servers automatically record certain information about how a
            person uses our services (we refer to this information as “Log Data”), including both account holders and
            non-account holders (either, a “User”). Log Data may include information such as a Userʼs Internet Protocol
            (IP) address, device type, operating system, the links and advertisements on our services that a User
            clicked on, the amount of time you interact with the services and other statistics. We use this information
            to administer the Services and we analyze (and may engage third parties to analyze) this information to
            improve and enhance the services by expanding their features and functionality and tailoring them to our
            Usersʼ needs and preferences. We also use the IP Address to generate aggregate, non-identifying information
            about how our Services are used.</span></p>
    <p class="brz-css-ceymc" data-uniq-id="buehs" data-generated-css="brz-css-sdvhs"><br></p>
    
    <p class="brz-css-pmoqf" data-uniq-id="wnger" data-generated-css="brz-css-xrqwz"><strong class="brz-cp-color7"
            style="background-color: transparent;">Advertising &amp; Third Party Products and Services</strong></p>
    <p class="brz-css-wbvnj" data-uniq-id="ioyzn" data-generated-css="brz-css-qxzrx"><span class="brz-cp-color7"
            style="background-color: transparent;">The services are supported via advertising, and we collect certain
            data to help the services serve ads. Advertisers and advertising networks use some of the information
            collected by the services, including the unique identification ID of your mobile device. To protect the
            anonymity of this information, we use an encryption technology to help ensure that these third parties canʼt
            identify you personally.&nbsp;</span></p>
    <p class="brz-css-yytgc" data-uniq-id="cjfgd" data-generated-css="brz-css-etdwb"><br></p>
    <p class="brz-css-meknd" data-uniq-id="rpnms" data-generated-css="brz-css-fweww"><strong class="brz-cp-color7"
            style="background-color: transparent;">Links to Other Sites</strong></p>
    <p class="brz-css-hpdbs" data-uniq-id="nlxmc" data-generated-css="brz-css-osxef"><span class="brz-cp-color7"
            style="background-color: transparent;">Our services may contain links to other websites and services. Any
            information that you provide on or to a third-party website or service is provided directly to the owner of
            the website or service and is subject to that party’s privacy policy. Our Privacy Policy does not apply to
            such websites or services and weʼre not responsible for the content, privacy or security practices and
            policies of those websites or services. To protect your information we recommend that you carefully review
            the privacy policies of other websites and services that you access.</span></p>
    <p class="brz-css-zaqva" data-uniq-id="gtrsm" data-generated-css="brz-css-ljfgf"><br></p>
    <p class="brz-css-hvsar" data-uniq-id="unlwk" data-generated-css="brz-css-oysyp"><strong class="brz-cp-color7"
            style="background-color: transparent;">Children Protect</strong></p>
    <p class="brz-css-mjtks" data-uniq-id="xsfeq" data-generated-css="brz-css-rnqqg"><span class="brz-cp-color7"
            style="background-color: transparent;">Our Policy Toward Children</span></p>
    <p class="brz-css-euwqi" data-uniq-id="kpxji" data-generated-css="brz-css-srfpz"><span class="brz-cp-color7"
            style="background-color: transparent;">Our Services are for children over 4+ .</span></p>
    <p class="brz-css-gybmg" data-uniq-id="vyytg" data-generated-css="brz-css-jbwrb"><br></p>
    <p class="brz-css-vspfz" data-uniq-id="coddl" data-generated-css="brz-css-qvmdf"><strong class="brz-cp-color7"
            style="background-color: transparent;">Changes to This Privacy Policy</strong></p>
    <p class="brz-css-rmvuk" data-uniq-id="qmrtr" data-generated-css="brz-css-daqew"><span class="brz-cp-color7"
            style="background-color: transparent;">Any information that we collect is subject to the privacy policy in
            effect at the time such information is collected. We may, however, modify and revise this Privacy Policy
            from time to time. If we make any material changes to this Privacy Policy, weʼll notify you of such changes
            by posting them on the services or by sending you a notification and weʼll indicate when such changes will
            become effective.</span></p>
    <p class="brz-css-gpsqq" data-uniq-id="selwu" data-generated-css="brz-css-yhvch"><br></p>
    <p class="brz-css-vghkn" data-uniq-id="wwvls" data-generated-css="brz-css-zcqcg"><strong class="brz-cp-color7"
            style="background-color: transparent;">Contact Us</strong></p>
    <p data-uniq-id="hfwdu" data-generated-css="brz-css-bjltr" class="brz-css-cfnco"><span class="brz-cp-color7"
            style="background-color: transparent;">If you have any questions or suggestions about my Privacy Policy, do
            not hesitate to contact me at contact@upgo.vn.</span></p>
</div>